div {
    unicode-bidi: isolate;
}

h1 {
    margin-bottom: 0;
    margin-top: .5em;

}

.container {
    display: grid;
    grid-template-rows: 10vh 20vh 15vh 15% 19vh 1fr;
    grid-template-columns: 20% repeat(7, 1fr);
    grid-row-gap: 3em;
    font-family: Arial, SansSerif, serif;
}

.note-input {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 70% 30% ;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
}

.note-list {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: auto;
}

.note-header {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
}

.note-list-text {
    display:flex;
    flex-direction: column;
    align-items: start;
}
.note-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-button {
    padding: 8px 12px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
    background-color: #3490dc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #2779bd;
}

.pagination-button.active {
    background-color: #1c3d5a;
}

.notebook-select {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}

.notebook-create {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}

.styled-textarea {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, SansSerif, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    resize: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.styled-textarea:focus {
    border-color: #0056b3;
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
}

.submit-button {
    padding: 10px 20px; /* Top and bottom padding, Left and right padding */
    height: 3em;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Changes the cursor to a pointer */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    outline: none; /* Removes the default focus outline */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.submit-button:hover {
    background-color: #007bff;
    border: 1px solid black;
    color: white;
}

.submit-button:active {
    background-color: #0056b3; /* Darker blue on hover/focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover/focus for a "lifting" effect */
}

.styled-button:hover, .styled-button:focus {
    background-color: #0056b3; /* Darker blue on hover/focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover/focus for a "lifting" effect */
}

.days-of-week-panel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    padding:10px;
}

.days-of-week-header {
    text-align: center;
}

.panel-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
}

.panel-button:hover {
    background-color: #007bff;
    border: 1px solid black;
}

.panel-button:active {
    background-color: #0056b3;
    border: 1px solid black;
}

.reset-filter-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
}
.reset-filter-button:hover {
    background-color: #dc3545;
    border: 1px solid black;
}

.reset-filter-button:active {
    background-color: #c82333;
    border: 1px solid black;
}

.date-header {
    text-align: center;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.search-form {
    width: 300px;
    margin: 20px auto;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: auto;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #4CAF50;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
}